.margen-hero {
    margin-top: 160px;
}

.margen-button {
    margin-bottom: 110px;
}

.img-back {
    background-image: url(../img/bg.jpg);*/
    /* background-color: #07405e; */
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  .edu{ 
    color: #07405e;
   }
   .o{ 
    color: #ffffff;
   }
  .accordion {
    --bs-accordion-active-bg: #E5E5E5;
    --bs-accordion-btn-focus-box-shadow: #1e8328;
  }







